/*APLICANDO SASS-OPERACIONES...............*/
/*USANDO MIXIN...............*/
@mixin texto($alto, $interlineado, $fuente) {
    font-size: $alto;
    line-height: $interlineado*1.5;
    font-family: $fuente;    
}
/*Contenedor de Seccion Nuestra Historia*/
    .nh-content{
        background-image: url("../image/nosotros/fondo_nosotros.jpg");
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;
        background-attachment: fixed;
        position:relative;
        height: 100%;
        width: $ancho1;
        z-index: 1;
        align-items: center;
        align-content: center;
        opacity: 1;
    }
    .nh-content::before {
        content: '';
        position: absolute;
        left:0;
        top:0;
        height: 100%;
        width: $ancho1;
        background-color:rgb(161, 169, 192);
        z-index: -1;
        opacity: 0.2;
    }
/*Contenedor de Titulo*/
    .nh-title{
        height: auto;
        position:relative;
        padding: 30px 0px 5px ;
        text-align: center;
        h1{
            font-size: 30px;
            text-transform: uppercase;
            color: white;
            font-family: $famfuente1;
        
    }
}
/*Contenedor de Parrafo*/
    .nh-parrafo{
        height: 100%;
        width: $ancho1;
        padding: 35px;
                      
        p{
            @include texto(16px,32px,'Montserrat'sans-serif);
            letter-spacing: 1px;
            text-align:justify;
            color: white;           
        }
    }

/*Media Queris para modificar el parrafo a medida que cambia el ancho*/
@media only screen and (min-width: 481px) and (max-width: 768px){

    .nh-parrafo{
        height: 100%;
        width: $ancho1;
        padding: 25px;
        /*Ingreso el mixin*/             
        p{
            @include texto(14px,30px,'Montserrat'sans-serif);
            letter-spacing: 1px;
            text-align:justify;
            color: white;       
        }
    }
}

@media only screen and (max-width: 480px){

    .nh-content{
        height: auto;
    }
    .nh-content::before {
        height: auto;
    }


    .nh-parrafo{
        height: auto;
        width: $ancho1;
        padding: 10px 15px;
          /*Ingreso el mixin*/                        
        p{
            @include texto(12px, 22px,'Montserrat'sans-serif);
            letter-spacing: 1px;
            text-align:justify;
        }
    }
}

/*CONDICIONAL y EXTEND*/
/*VARIABLE*/            
$fondo-mvv: color1;
/*EXTEND*/ 
%mvv-descripcion {
    display: grid;
    padding: 5px;
    height:auto;
    width: 100%;
    border: 1px solid black;
    @if ($fondo-mvv == color1) {
        background-color: antiquewhite;
    }@else if ($fondo-mvv == color2){
        background-color: aquamarine;
    }@else {
        background-color: pink;
    }
       
     h3{
     padding: 3px 15px;
     text-align: center;
     }
     p{
         padding: 3px 25px;
         text-align: center;
         font-size: 16px;
         width: 100%;
    }
     ul li{
         line-height: 25px;
         width: $ancho1;
     }
}
/*Contenedor de Mision Vision y Valores*/ 
.mvv-content{
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: none;
    height: auto;
    width: 100%;
    z-index: 1;
 }
/*Mision Contenido*/ 
.m-content{
    @extend %mvv-descripcion;
    
}

.e-content{
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%; 
    :hover{
        border: 2px solid antiquewhite;
        
    }
}

/*Vision Contenido*/ 
.vi-content{
    @extend %mvv-descripcion;
    
}
/*Valores Contenido*/ 
.va-content{
   @extend %mvv-descripcion;
   margin: 0px;
   ul{
       padding: 0px;
   }
}

.tabla-valores{
    align-items: center;
        ul {
            margin: 0;
            padding: 0;
           li{
            height: 25px;
            text-align: center;
            background-color: transparent;
            list-style: none;
           }
        }
}
