/*ESTILOS CONTACTO*/

/*APLICO MIXIN*/

@mixin texto($alto, $interlineado, $fuente) {
    font-size: $alto;
    line-height: $interlineado;
    font-family: $fuente;    
}
/*Contenedor de Seccion Contacto*/
    .c-contenedor{
        display: flex;
        flex-flow: row wrap;
        background: #97b1a6;
        justify-content: center;
        z-index: 1;
        margin: 0px;
        padding: 0px;
        width: auto;
         h1{
            text-align: center;
            padding-top: 30px;
        }
    }

    
//Configuración de Titulo//
.t-contacto{
        height: auto;
        position:relative;
        padding: 20px 0px ;
        text-align: center;
        width: 100%;
        h1{
            font-size: 30px;
            text-transform: uppercase;
            color: black;
            font-family: $famfuente1;
        
    }
}
//Estilo del Formulario//
.formulario{
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    height: auto;
    justify-content: center;
    justify-items: center;
    padding: 10px 10px;
}

.form-contenedor{
    padding: 0;
    width: auto;
 }

 .form-group{
     padding: 0px 50px;
     width: 100%;
 }
 .form-check{
    padding: 0px 50px;
 }

 
 //Configuracion de los Botones Enviar y Restablecer//
 .btn-contacto{
     display: flex;
     flex-flow: row wrap;
     width: 80vw;
     padding: 50px;
     align-items: center;
     justify-content: center;
     button{
         padding: 0 50px;
         margin: 5px 25px;
     }
     input{
        padding: 0 50px;
        margin: 5px 25px;
     }
 }

 //Mapa de Ubicacion//

 .map-contenedor{
     display: flex;
     margin: 0;
     padding: 20px;
     background-color: $colorbg4;
     width: 75vw;
 }