/*ESTILOS CONTACTO*/
/*APLICO MIXIN...............*/
@mixin texto($alto, $interlineado, $fuente) {
    font-size: $alto;
    line-height: $interlineado;
    font-family: $fuente;    
}
/*Contenedor de Seccion Servicios*/
    .c-contenedor{
        display: grid;
        background-color: $colorbg4;
        justify-content: center;
        justify-items: center;
        z-index: 1;
         margin: 0;
        padding: 0;
         h1{
            text-align: center;
        }
    }
 .formulario{
     width: 50vw;
     height: auto;
     form{
        align-content: center;
        justify-items: center;
     }

 }