/*SECCION 7 - FOOTER*/

.pie-pagina p{
    color: $colort1;
    text-align: left;
    font-weight: 500;
    font-size: 8px;
    font-family:$famfuente1;
    justify-items: center;
    align-items: center;
   
}
.pie-pagina{
    position: relative;
    background-color: #97b1a6;
    justify-content: center;
    padding: 50px 0px;
    justify-items: center;
    margin: 0px;
    align-items: center;
    z-index: 1;
    .row{ 
        align-items: center;
    }
}

.contenedorFinal{
    width: 100%;
    margin-bottom: 10px;
}
.imageLogo{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    img{
        width: 180px;
    }
}

.imageCorp{
    display: flex;
    align-content: center;
    justify-content: center;
    background-size: contain;
    margin:5px;
    img{
        width: 80%;
}
}

.parrafoFooter h6{
    display: flex;
    flex-direction: row;
    color:$colort1;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    font-family:$famfuente1;
    justify-content: center;
    margin-top: 5px;
}


/*Estilos de Redes en el footer*/

.redInferior{
    display:flex;
    flex-flow: row wrap;
    list-style:none;
    margin: 1px;
    padding: 1px;
    justify-content: center;
}


.contenedorRedinf li{
    padding: 0 15px;
    a{
        color: black;
    }
 
}

.politica{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    color:$colort1;
    background-color: #97b1a6;
    position: relative;
    text-align: center;
    height: auto;
    width: 100%;
    align-items: center;
    border-top:solid 2px ;
    p{
        display: flex;
        flex-direction: row;
        color:$colort1;
        text-align:center;
        font-weight: 400;
        font-size: 12px;
        line-height: 40px;
        font-family:$famfuente1;
        padding-top: 10px;
    }
}
.footer-newsletter{
    display: flex;
    flex-flow: column wrap;
    color:$colort1;
    background-color: #97b1a6;
    position: relative;
    text-align: center;
    height: auto;
    width: 100%;
    align-items: center;
    p{
        display: flex;
        flex-direction: row;
        font-family: $famfuente1;
        color:$colort1;
        text-align:center;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        font-family:$famfuente1;
        padding-top: 10px;
    }

}