/*VARIABLES DE TIPOGRAFIA Y COLORES...............*/
$colort0: white;
$colort1: black ;
$estfuente: normal;
$famfuente1: 'Montserrat', sans-serif;
$famfuente2: 'Opens Sans', sans-serif;
$interlineado: 1em;
$anchofuente1: 400;
$textnegrita: 800;
$alintext: center;
$ancho1: 100%;
$ancho2: 80%;
$alto1: 100vh;
$alto2: $alto1/2;

/*MAPS de Colores BG*/
$listabg:(
   bg0:#042A2B,
   bg1:#095b5d,
   bg2:#45818E,
   bg3:rgba(86, 151, 160, 0.952),
   bg4:rgba(192, 219, 223, 0.952),
   bg5: transparent,
   );

$colorbg0: map-get($listabg, bg0);
$colorbg1: map-get($listabg, bg1);
$colorbg2: map-get($listabg, bg2);
$colorbg3: map-get($listabg, bg3);
$colorbg4: map-get($listabg, bg4);
$colorbg5: map-get($listabg, bg5);


/*CONTENEDOR DEL HEADER............*/

.cabeceraContainer{
    display: flex;
    background-color:rgb(193, 221, 240);
    position: sticky;
    top: 0px;
    height: auto;
    width: 100%;
    z-index: 100;
}
 
/*CONTENEDOR DE MENU DE NAVEGACION*/

/*ESTILOS DE MENU DE NAVEGACION*/
.menu{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    list-style:none;
    position:sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
        
    a{
        color: $colort1;
        font-size: 16px;
        font-family: $famfuente1;
        text-decoration: none;
        padding: 1px;
    }
}

.menu li:hover>.submenu{
    display: block;
}

.menu-bg:hover{
    transform: scale(1.05);      
}

.masMenu-bg a:hover {
    background-color: $colorbg4; 
}

.bg-redes{
filter: drop-shadow(1); 
}

/*ESTILOS PARA EL SUBMENU*/

.submenu{
    list-style: none;
    display: block;
    display: none;
    background-color: $colorbg5;
    position: fixed;
    font-size: 10px;
    font-family: $famfuente1;
    text-decoration: none;
        li{    
            margin: 10px 0;
            padding: 0 10px;
        }
    }
.btn-buscar{
    color: $colort1;
    border: $colort1 solid 1px;
}

/*HEADER*/
/*APLICO MEDIA QUERIS EN HEADER DESDE CEL A TABLETS............*/
    @media only screen and (min-width: 320px) and (max-width:767px) {
    
        /*CONTENEDOR DEL LOGO*/
        .logoInbeck{
            display: block;
            margin: 1px;
            padding: 1px;
            opacity: 0.75;
        }
    
        .menu li a{
            color: $colort0;
            font-size: 14px;
            font-family: $famfuente1;
            text-decoration: none;
            padding: 3px 25px;
        }
    }
