/*VARIABLES DE TIPOGRAFIA Y COLORES...............*/
$colort0: white;
$colort1: black ;
$estfuente: normal;
$famfuente1: 'Montserrat', sans-serif;
$famfuente2: 'Opens Sans', sans-serif;
$interlineado: 1em;
$anchofuente1: 400;
$textnegrita: 800;
$alintext: center;
$ancho1: 100%;
$ancho2: 80%;
$alto1: 100vh;
$alto2: $alto1/2;

/*MAPS de Colores BG*/
$listabg:(
   bg0:#042A2B,
   bg1:#095b5d,
   bg2:#45818E,
   bg3:rgba(47, 204, 224, 0.952),
   bg4:rgba(192, 219, 223, 0.952),
   bg5: transparent,
   );

$colorbg0: map-get($listabg, bg0);
$colorbg1: map-get($listabg, bg1);
$colorbg2: map-get($listabg, bg2);
$colorbg3: map-get($listabg, bg3);
$colorbg4: map-get($listabg, bg4);
$colorbg5: map-get($listabg, bg5);


/*CONTENEDOR DEL HEADER............*/

.cabeceraContainer{
    display: flex;
    flex-flow: row wrap;
    top: 0px;
    width: $ancho1;
    z-index: 100;
    opacity: 1;
    height: auto;
}



/*CONTENEDOR DE LOGO*/
.logoInbeck{
    display: flex;
    padding: 5px 0px 0px 60px;
    opacity: 0.75;
    width: 50%;
}
 
/*ESTILOS DE REDES SOCIALES EN MENU SUPERIOR*/
.contenedorRed{
    display: flex;
    z-index: 5; 
    height: auto;
    width: 100%;
    justify-content: flex-end;
}

/*ANIDACION EN ESTILO DE REDES*/
.redSuperior{
    display:flex;
    flex-flow: row wrap;
    list-style:none;
    padding: 5px;
    top: 0px;
    right: 10px;
    height: auto;
     a{
        padding: 5px;
    }
    :hover{
        background-color: $colorbg4;
        height: auto;
        align-items: center;
        top: 0px;
    }
}

/*CONTENEDOR DE MENU DE NAVEGACION*/

.menuContenedor{
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    position:sticky;
    top: 0px;
    z-index: 1000;
    margin: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

/*ESTILOS DE MENU DE NAVEGACION*/
.menu{
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    list-style:none;
    position:sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
        
    a{
        color: $colort1;
        font-size: 16px;
        font-family: $famfuente1;
        text-decoration: none;
        padding: 1px;
    }
}

.menu li:hover>.submenu{
    display: block;
}

.menu-bg:hover{
    background-color: $colorbg3;
    box-shadow: 3px 3px 20px black ;
    
}

.masMenu-bg a:hover {
    background-color: $colorbg3;
    box-shadow: 3px 3px 20px black ;
}

/*ESTILOS PARA EL SUBMENU*/

.submenu{
    list-style: none;
    display: block;
    display: none;
    background-color: $colorbg5;
    position: fixed;
    font-size: 10px;
    font-family: $famfuente1;
    text-decoration: none;
        li{    
            margin: 10px 0;
            padding: 0 10px;
        }
    }
.btn-buscar{
    color: $colort1;
    border: $colort1 solid 1px;
}

/*HEADER*/
/*APLICO MEDIA QUERIS EN HEADER DESDE CEL A TABLETS............*/
    @media only screen and (min-width: 320px) and (max-width:767px) {
    
        /*CONTENEDOR DEL LOGO*/
        .logoInbeck{
            display: block;
            margin: 1px;
            padding: 1px;
            opacity: 0.75;
        }
    
        .menu li a{
            color: $colort0;
            font-size: 14px;
            font-family: $famfuente1;
            text-decoration: none;
            padding: 3px 25px;
        }
    }
