/*SECCION 1 - PORTADA DE BIENVENIDA*/

//Portada de Sección
.contenedor-portada {
    background-image: url("../image/inicio/portada.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    min-height: 80vh;
    height: max-content;
    width: 100%;
    position:relative;
    z-index: 1;
}
//Aplicación de Capa de Fondo
.contenedor-portada::before {
    content: '';
    position: absolute;
    left:0;
    top:0;
    min-height: 80vh;
    height: max-content;
    width: 100%;
    background-color:$colorbg0;
    z-index: -1;
    opacity: 0.5;
}

/*CONTENEDOR DEL CONTENIDO DE LA SECCION*/
.home{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    top: 0px;
    min-height: 80vh;
    height: max-content;
    width: $ancho1;
    z-index: 2;
    justify-content: center;
    align-items: center;
    
       a{
         text-decoration: none;
    }
}

/*ESTILOS PARA LOS BOTONES DE PORTADA*/
.portada-btn{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
}
.botones{ 
    display: flex;
    flex:1;
    list-style: none;
    justify-content: center;
          a{
            text-decoration: none;
            color:$colort0;
            border: solid 1px white ;
            font-family:$famfuente1;
            font-weight: $anchofuente1;
            font-size: 12px;
            letter-spacing: 3px;
            list-style: none;
            margin: 10px;
            padding: 10px 35px;
         }
        :hover{
            color: $colort0;
            background-color:$colorbg1;
            font-family:$famfuente1;
            font-weight: $anchofuente1;
            font-size: 12px;
            letter-spacing: 3px;
            border: solid 1px white ;
            transition: 0.5s;
         }
}

/*SECCION 2 - RESUMEN DE LOS SERVICIOS*/

/*CONTENEDOR DE RESUMEN*/	
.resume-s{
    min-height: 80vh;
    height: max-content;
    width: 100%;
    z-index: 1;
    margin-bottom: 0px;
}
.titulo-resumen{
    display: flex;
    margin:0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: $famfuente1;
    justify-content: center;
    background-color: #97b1a6;
    h3{
        font-size: 18px;
        text-align: center;
        margin: 0;
        padding: 30px 0;
    }
}

/*ESTILOS AL CAROUSEL*/	
.carousel-item{
	background-position: center;
	background-size:cover;
	position: relative;
    z-index: 1;
      .active h5{
            animation: fadeInLeft 0.3s ease forwards;
        p{
         animation: fadeInLeft 0.3s ease forwards;
        }
    }
}

.carrusel{
height:auto;
width: auto;
margin-right: 1%;
margin-left: 1%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    position: relative;
    z-index: 1;
}

#carouselExampleIndicators{
    height: 80vh;
}
.carousel-indicators{
	margin-bottom: 1px;
    z-index: -1;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-10px);
	}
	100%{
		opacity: 1;
		transform: translateX(10px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(-10px);
	}
	100%{
		opacity: 1;
		transform: translateX(10px);
	}
}

/*MODIFICADOR DE TEXTOS EN CARRUSEL*/
.container__textos{
    color: $colort1;
    font-family: $famfuente2;
    background-color: white;
    opacity: 0.8;
    align-content: center;
    width: 100%;
         h5{
            font-size: 20px;
            font-family: $famfuente1;
            width: auto;
        }
        p{
            font-size: 16px;
            font-family: $famfuente1;
            width: auto;
        }
}

/*APLICANDO MEDIA QUERIS AL CAROUSEL*/	

@media(max-width: 767px){
	.resume .carousel-control-next-icon, 
	.resume .carousel-control-prev-icon{
		display: none;
	}
	.resumew .carousel-indicators li{
		height: 60px;
		width: 60px;
	}
    .container__textos{
        color: $colort1;
        font-family: $famfuente2;
        background-color: white;
        opacity: 0.8;
        align-content: center;
            h5{
                font-size: 18px;
                font-family: $famfuente1;
                align-items: center;
            }
            p{
                font-size: 14px;
                font-family: $famfuente1;
            }
    }
  }

  
/*SECCION 3 - RESUMEN DE ACERCA DE*/	

//Contenedor de Sección
.c-nosotros{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    position: relative;
    min-height: 60vh;
    height: max-content;
    width: 100vw;
}
//Portada de Sección
.p-nosotros{
    display: flex;
    flex-flow: row wrap;
    background-image: url("../image/inicio/nosotros/fondo_nosotros.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    min-height: 60vh;
    height: max-content;
    width: 100vw;
}
.p-nosotros::before {
    content: '';
    position: absolute;
    left:0;
    top:0;
    min-height: 60vh;
    height: max-content;
    width: 100vw;
    background-color:$colorbg0;
    z-index: -1;
    opacity: 0.4;
}

//Párrafo de Sección
.pf-section{
    display: flex;
    align-items: center;
    color: $colort0;
    font-weight: normal;
    font-family: $famfuente1;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 20px 80px;
    text-align: justify;
    justify-content: center;
    height: max-content;
    min-height: 50vh;
    width: 100%;
}

.e-nosotros{
    display: flex;
    flex-direction: column;
}

//Botón de Sección
.btn-section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-items: center;
    justify-content: center;
    height: max-content;
    min-height: 10vh;
}
.btn-section-nh a{ 
        text-decoration: none;
        color:$colort0;
        border: solid 1px white ;
        font-family: $famfuente1;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 3px;
        margin: 8px 10px;
        padding: 8px 20px;
}

.btn-section-nh:hover a{
        color: $colort0;
        background-color:$colorbg1;
        font-family: $famfuente1;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 3px;
        margin: 8px 10px;
        padding: 8px 20px;
        border: solid 1px white;
        transition: 0.5s;
}

/*APLICANDO MEDIA QUERIS A SECCION 3*/	
@media only screen and (min-width: 320px) and (max-width:767px) {
.c-nosotros{
    display: flex;
    align-content: center;
    align-items: center;
    height: max-content;
    min-height: 50vh;
    width: 100vw;
}

.pf-section{
    text-align: left;
    color: $colort0;
    font-weight: normal;
    font-family: $famfuente1;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-align: justify;
    justify-content: center;
    height: max-content;
    min-height: 50vh;
    width: 100%;
}
.btn-section a{ 
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
}
.btn-section a:hover{
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
}

.titulo-resumen h3	{
    margin-top: 1px ;
    font-size: 18px;
}
}

/*SECCION 4 - TRABAJE CON NOSOTROS*/	

/*CONTENEDOR DE TRABAJE CON NOSOTROS*/	
//Contenedor de Sección
.c-trabaje{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    min-height: 60vh;
    height: max-content;
    width: 100vw;
}

//Portada de Sección
.p-trabaje{
    display: flex;
    flex-flow: row wrap;
    background-image: url("../image/inicio/trabaje/enviecv.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 60vh;
    height: max-content;
    width: 100vw;
    z-index: 1;
}

.p-trabaje::before {
    content: '';
    position: absolute;
    left:0;
    top:0;
    background-color: $colorbg2;
    z-index: -1;
    opacity: 0.3;
    min-height: 60vh;
    height: max-content;
    width: 100vw;
}

/*SECCION 7 - NUESTROS CLIENTES*/
//Contenedor de Sección
.contenedorClientes{
    display: grid;
    grid-template-areas:
    "imageYPF imagePP imagePAE imageWll"
    "imageEqui imageSEI imageFH imageELE";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    align-items: center;
    justify-items: center;
    row-gap: 1px;
    width:$ancho1;
    height:$alto1*0.75;
}

//Titulo de Sección
.tituloClientes h3{
    color: $colort1;
    font-weight: no;
    font-size: 20px;
    font-family: $famfuente1;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}


#tituloClientes{
    margin-top: 15px ;
}
section#imageYPF{
    grid-area: imageYPF;
}
section#imagePP{
    grid-area: imagePP;

}
section#imagePAE{
    grid-area: imagePAE;
}
section#imageWll{
    grid-area: imageWll;
}
section#imageEqui{
    grid-area: imageEqui;
}
section#imageSEI{
    grid-area: imageSEI;
}
section#imageFH{
    grid-area: imageFH;
}
section#imageELE{
    grid-area: imageELE;
}

.contenedorClientes div img{
    margin: 0px;
    padding: 0px;
    width: 170px;
    align-items: center;
}
/*VARIABLES DE ANIMACION*/

div #imageYPF:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
div #imagePP:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imagePAE:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageWll:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageEqui:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageSEI:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageFH:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageELE:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}

/*APLICANDO MEDIA QUERIS A NUESTROS CLIENTES - RESPONSIVE CELULARES*/

@media only screen and (min-width: 320px) and (max-width:480px) {
    .contenedorClientes{
        display: grid;
        grid-template-areas:
        "tituloClientes tituloClientes"
        "imageYPF imagePP "
        "imagePAE imageWll"
        "imageEqui imageSEI"
        "imageFH imageELE";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background-color: white;
        align-items: center;
        justify-items: center;
        row-gap: 1px;
        width:100%;
        height:$alto1;
    }  
    section div#tituloClientes{
        grid-area: tituloClientes;
    }
    section#imageYPF{
        grid-area: imageYPF;
    }
    section#imagePP{
        grid-area: imagePP;
    }
    section#imagePAE{
        grid-area: imagePAE;
    }   
    section#imageWll{
        grid-area: imageWll;
    }  
    section#imageEqui{
        grid-area: imageEqui;
    }
    section#imageSEI{
        grid-area: imageSEI;
    }
    section#imageFH{
        grid-area: imageFH;
    }
      section#imageELE{
        grid-area: imageELE;
    } 
    .contenedorClientes div img{
        margin: 0px;
        padding: 0px;
        width: 100px;
        align-items: center;
    }
}
/*FIN DE MEDIA QUERIS*/	

/*APLICANDO MEDIA QUERIS A NUESTROS CLIENTES - RESPONSIVE TABLETS*/

@media only screen and (min-width: 481px) and (max-width:767px) {
    .contenedorClientes{
        display: grid;
        grid-template-areas:
        "imageYPF imagePP imagePAE"
        "imageWll imageEqui imageSEI"
        "imageFH imageELE imageELE";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: white;
        align-items: center;
        justify-items: center;
        row-gap: 1px;
        width:$ancho1;
        height:$alto1;
    }
    
    section div#tituloClientes{
        grid-area: tituloClientes;
    }
    section#imageYPF{
        grid-area: imageYPF;
    }
    section#imagePP{
        grid-area: imagePP;
    }
    section#imagePAE{
        grid-area: imagePAE;
    }
    section#imageWll{
        grid-area: imageWll;
    }
    section#imageEqui{
        grid-area: imageEqui;
    }
    section#imageSEI{
        grid-area: imageSEI;
    }
    section#imageFH{
        grid-area: imageFH;
    }
    section#imageELE{
        grid-area: imageELE;
    }
  .contenedorClientes div img{
        margin: 0px;
        padding: 0px;
        width: 100px;
        align-items: center;
    }
}
/*FIN DE MEDIA QUERIS*/	

/* Back to top button */

.back-to-top {
    position: fixed;
    background: #97b1a6;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    border: 1px solid black;
    right: 35px;
    bottom: 35px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top:9px;
    color: black;
  }
  

