/*SECCION 1 - PORTADA DE BIENVENIDA*/

//Portada de Sección
.portadaContenedor {
    background-image: url("../image/inicio/portada.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    height: $alto1;
    width: 100%;
    position:relative;
    z-index: 1;
}
//Aplicación de Capa de Fondo
.portadaContenedor::before {
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: $alto1;
    width: 100%;
    background-color:$colorbg0;
    z-index: -1;
    opacity: 0.5;
}

/*CONTENEDOR DEL CONTENIDO DE LA SECCION*/
.home{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    top: 0px;
    height: $alto1;
    width: $ancho1;
    z-index: 2;
    justify-content: center;
    align-items: center;
    
       a{
         text-decoration: none;
    }
}

/*ESTILOS PARA LOS BOTONES DE PORTADA*/
.contenedorBotones{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
 
}
.botones{ 
    display: flex;
    flex:1;
    list-style: none;
    justify-content: center;
   
          a{
            text-decoration: none;
            color:$colort0;
            border: solid 1px white ;
            font-family:$famfuente1;
            font-weight: $anchofuente1;
            font-size: 12px;
            letter-spacing: 3px;
            list-style: none;
            margin: 10px;
            padding: 10px 35px;
         }
        :hover{
            color: $colort0;
            background-color:$colorbg1;
            font-family:$famfuente1;
            font-weight: $anchofuente1;
            font-size: 12px;
            letter-spacing: 3px;
            border: solid 1px white ;
            transition: 0.5s;
         }
}


/*SECCION 2 - RESUMEN DE LOS SERVICIOS*/

/*CONTENEDOR DE RESUMEN*/	
.resume{
	height: 80vh;
	width: 100%;
    z-index: 1;
    margin-bottom: 0px;
}


/*ESTILOS AL CAROUSEL*/	
.carousel-item{
	background-position: center;
	background-size:cover;
	position: relative;
    z-index: 1;
      .active h5{
            animation: fadeInLeft 0.3s ease forwards;
        p{
         animation: fadeInLeft 0.3s ease forwards;
        }
    }
}

.carrusel{
height:auto;
width: auto;
margin-right: 1%;
margin-left: 1%;
}

.carousel-item img {
    height: 70vh;
    object-fit: cover;
    opacity: 0.85;
    position: relative;
    z-index: 1;
}

.carousel-indicators{
	margin-bottom: 30px;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-10px);
	}
	100%{
		opacity: 1;
		transform: translateX(10px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(-10px);
	}
	100%{
		opacity: 1;
		transform: translateX(10px);
	}
}


.tituloServicios{
		margin: 30px ;
        text-align: center;
        text-transform: uppercase;
        font-family: $famfuente1;
        h3{
            font-size: 20px;
        }
	}


/*MODIFICADOR DE TEXTOS EN CARRUSEL*/
.container__textos{
    color: $colort1;
    font-family: $famfuente2;
    background-color: $colorbg4;
    opacity: 0.8;
    align-content: center;
        h5{
            font-size: 20px;
            font-family: $famfuente1;
        }
        p{
            font-size: 16px;
            font-family: $famfuente1;
        }
}

/*APLICANDO MEDIA QUERIS AL CAROUSEL*/	

@media(max-width: 767px){
	.resume .carousel-control-next-icon, 
	.resume .carousel-control-prev-icon{
		display: none;
	}
	.resumew .carousel-indicators li{
		height: 60px;
		width: 60px;
	}

  }

/*SECCION 3 - RESUMEN DE ACERCA DE*/	

//Contenedor de Sección
.c-nosotros{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    height: $alto1;
    width: 100%;
}
//Portada de Sección
.p-nosotros{
    display: flex;
    flex-flow: row wrap;
    background-image: url("../image/inicio/fondo_nosotros.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    height: 80vh;
    width: 100%;
}
.p-nosotros::before {
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: $alto1;
    width: 100%;
    background-color:$colorbg0;
    z-index: -1;
    opacity: 0.4;
}

//Titulo de Sección
.t-nosotros{
    display: flex;
    margin: 10px ;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: $famfuente1;
    h3{
        font-size: 20px;
        text-align: center;
        width: 100%;
    }
}
//Párrafo de Sección
.pf-nosotros{
    display: flex;
    align-items: center;
    color: $colort0;
    font-weight: normal;
    font-family: $famfuente1;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 20px 80px;
    text-align: justify;
    height: auto;
}

.e-nosotros{
    display: flex;
    flex-direction: column;
}

//Botón de Sección
.btn-nosotros{
    display: flex;
    align-items: center;
    width: 100%;
    justify-items: center;
    justify-content: center;
    height: auto;
}
.btn-nh a{ 
        text-decoration: none;
        color:$colort0;
        border: solid 1px white ;
        font-family: $famfuente1;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 3px;
        margin: 8px 10px;
        padding: 8px 20px;
}

.btn-nh:hover a{
        color: $colort0;
        background-color:$colorbg1;
        font-family: $famfuente1;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 3px;
        margin: 8px 10px;
        padding: 8px 20px;
        border: solid 1px white;
        transition: 0.5s;
}

/*APLICANDO MEDIA QUERIS A SECCION 3*/	
@media only screen and (min-width: 320px) and (max-width:767px) {

.t-nosotros{
        margin: 15px ;
        text-align: justify;
        text-transform: uppercase;
        font-family: $famfuente1;
        h3{
            font-size: 14px;
        }
    }
.pf-nosotros{
    text-align: left;
    color: $colort0;
    font-weight: normal;
    font-family: $famfuente1;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 10px 50px;
}
.btn-nh a{ 
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
}
.btn-nh a:hover{
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
}

.tituloServicios h3	{
    margin-top: 1px ;
    font-size: 14px;
}

}

/*SECCION 4 - TRABAJE CON NOSOTROS*/	

/*CONTENEDOR DE TRABAJE CON NOSOTROS*/	
//Contenedor de Sección
.c-trabaje{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    height: $alto1;
    width: 100%;
}
//Portada de Sección
.p-trabaje{
    display: flex;
    flex-flow: row wrap;
    background-image: url("../image/inicio/enviecv.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 80vh;
    z-index: 1;
    width: $ancho1;
}

.p-trabaje::before {
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 80vh;
    width: $ancho1;
    background-color: $colorbg4;
    z-index: -1;
    opacity: 0.5;
}
//Titulo de Sección
.t-trabaje{
    display: flex;
        width: 100%;
        margin: 10px ;
        text-transform: uppercase;
        font-family: $famfuente1;
        justify-content: center;
        background-color: white;
        h3{
            font-size: 20px;
            width: 50%;
            text-align: center;
        }
    }

//Párrafo de Sección
.pf-trabaje{
    display: flex;
    align-items: center;
    color: $colort1;
    font-weight: normal;
    font-family: $famfuente1;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 25px 80px;
    text-align: justify;
    height: auto;
}
//Botón de Sección
.btn-trabaje{
    display: flex;
    align-items: center;
    width: 100%;
    justify-items: center;
    justify-content: center;
    height: auto;
}
.btn-cv a{
    text-decoration: none;
    color: $colort1;
    border: solid 1px black ;
    font-family: $famfuente1;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
    text-transform: uppercase;
}
.btn-cv:hover a{
    color: $colort0;
    background-color:$colorbg1;
    font-family: $famfuente1;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
    border: solid 1px white ;
    text-transform: uppercase;
    transition: 0.5s;
}

@media only screen and (min-width: 320px) and (max-width:767px) {
    
.t-trabaje{
    margin: 15px ;
    text-align: justify;
    text-transform: uppercase;
    font-family: $famfuente1;
    h3{
        font-size: 14px;
    }
}
.pf-trabaje{
    
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 20px;
    color: $colort1;
    p{
        text-align: left;
    }
}

.btn-cv a{ 
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
}
.btn-cv:hover a{
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
}
}
	
/*SECCION 7 - NUESTROS CLIENTES*/
//Contenedor de Sección
.contenedorClientes{
    display: grid;
    grid-template-areas:
    "imageYPF imagePP imagePAE imageWll"
    "imageEqui imageSEI imageFH imageELE";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    align-items: center;
    justify-items: center;
    row-gap: 1px;
    width:$ancho1;
    height:$alto1*0.75;
}

//Titulo de Sección
.tituloClientes h3{
    color: $colort1;
    font-weight: no;
    font-size: 20px;
    font-family: $famfuente1;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}


#tituloClientes{
    margin-top: 15px ;
}
section#imageYPF{
    grid-area: imageYPF;
}
section#imagePP{
    grid-area: imagePP;

}
section#imagePAE{
    grid-area: imagePAE;
}
section#imageWll{
    grid-area: imageWll;
}
section#imageEqui{
    grid-area: imageEqui;
}
section#imageSEI{
    grid-area: imageSEI;
}
section#imageFH{
    grid-area: imageFH;
}
section#imageELE{
    grid-area: imageELE;
}

.contenedorClientes div img{
    margin: 0px;
    padding: 0px;
    width: 170px;
    align-items: center;
}
/*VARIABLES DE ANIMACION*/

div #imageYPF:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
div #imagePP:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imagePAE:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageWll:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageEqui:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageSEI:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageFH:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}
#imageELE:hover{
    transform: scale(1.1,1.1);
    box-shadow: 3px 3px 20px black ;
    transition: 0.75s;
}

/*APLICANDO MEDIA QUERIS A NUESTROS CLIENTES - RESPONSIVE CELULARES*/

@media only screen and (min-width: 320px) and (max-width:480px) {
    .contenedorClientes{
        display: grid;
        grid-template-areas:
        "tituloClientes tituloClientes"
        "imageYPF imagePP "
        "imagePAE imageWll"
        "imageEqui imageSEI"
        "imageFH imageELE";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background-color: white;
        align-items: center;
        justify-items: center;
        row-gap: 1px;
        width:100%;
        height:$alto1;
    }  
    section div#tituloClientes{
        grid-area: tituloClientes;
    }
    section#imageYPF{
        grid-area: imageYPF;
    }
    section#imagePP{
        grid-area: imagePP;
    }
    section#imagePAE{
        grid-area: imagePAE;
    }   
    section#imageWll{
        grid-area: imageWll;
    }  
    section#imageEqui{
        grid-area: imageEqui;
    }
    section#imageSEI{
        grid-area: imageSEI;
    }
    section#imageFH{
        grid-area: imageFH;
    }
      section#imageELE{
        grid-area: imageELE;
    } 
    .contenedorClientes div img{
        margin: 0px;
        padding: 0px;
        width: 100px;
        align-items: center;
    }
}
/*FIN DE MEDIA QUERIS*/	

/*APLICANDO MEDIA QUERIS A NUESTROS CLIENTES - RESPONSIVE TABLETS*/

@media only screen and (min-width: 481px) and (max-width:767px) {
    .contenedorClientes{
        display: grid;
        grid-template-areas:
        "imageYPF imagePP imagePAE"
        "imageWll imageEqui imageSEI"
        "imageFH imageELE imageELE";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: white;
        align-items: center;
        justify-items: center;
        row-gap: 1px;
        width:$ancho1;
        height:$alto1;
    }
    
    section div#tituloClientes{
        grid-area: tituloClientes;
    }
    section#imageYPF{
        grid-area: imageYPF;
    }
    section#imagePP{
        grid-area: imagePP;
    }
    section#imagePAE{
        grid-area: imagePAE;
    }
    section#imageWll{
        grid-area: imageWll;
    }
    section#imageEqui{
        grid-area: imageEqui;
    }
    section#imageSEI{
        grid-area: imageSEI;
    }
    section#imageFH{
        grid-area: imageFH;
    }
    section#imageELE{
        grid-area: imageELE;
    }
  .contenedorClientes div img{
        margin: 0px;
        padding: 0px;
        width: 100px;
        align-items: center;
    }
}
/*FIN DE MEDIA QUERIS*/	



