/*VARIABLES DE TIPOGRAFIA Y COLORES...............*/
/*MAPS de Colores BG*/
/*CONTENEDOR DEL HEADER............*/
.cabeceraContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #97b1a6;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: auto;
  width: 100%;
  z-index: 100;
}

/*CONTENEDOR DE MENU DE NAVEGACION*/
/*ESTILOS DE MENU DE NAVEGACION*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu a {
  color: black;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 1px;
}

.menu li:hover > .submenu {
  display: block;
}

.menu-bg:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.masMenu-bg a:hover {
  background-color: rgba(192, 219, 223, 0.952);
}

.bg-redes {
  -webkit-filter: drop-shadow(1);
          filter: drop-shadow(1);
}

/*ESTILOS PARA EL SUBMENU*/
.submenu {
  list-style: none;
  display: block;
  display: none;
  background-color: transparent;
  position: fixed;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.submenu li {
  margin: 10px 0;
  padding: 0 10px;
}

.btn-buscar {
  color: black;
  border: black solid 1px;
}

/*HEADER*/
/*APLICO MEDIA QUERIS EN HEADER DESDE CEL A TABLETS............*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /*CONTENEDOR DEL LOGO*/
  .logoInbeck {
    display: block;
    margin: 1px;
    padding: 1px;
    opacity: 0.75;
  }
  .menu li a {
    color: white;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    padding: 3px 25px;
  }
}

/*APLICANDO SASS AL PROYECTO....................................................*/
/*VARIABLES DE TIPOGRAFIA Y COLORES...............*/
/*MAPS de Colores BG*/
/*TIPOGRAFIA A USAR...............*/
@media only screen and (max-width: 767px) {
  /*APLICO ANIDACION EN TITULOS............*/
  .titulos {
    color: white;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    line-height: 1em;
    z-index: 4;
  }
  .titulos p {
    font-size: 10px;
    line-height: 25px;
    word-spacing: 5px;
    margin: 1px;
    padding: 5px;
  }
  .titulos .description {
    font-weight: 800;
    font-size: 10px;
    font-family: "Opens Sans", sans-serif;
    line-height: 2rem;
    word-spacing: 5px;
    letter-spacing: 5px;
  }
  /*Se aplica un Bucle al modificador de titulos*/
  .titulos--h1 {
    font-size: 3rem;
  }
  .titulos--h2 {
    font-size: 1.5rem;
  }
  .titulos--h3 {
    font-size: 1rem;
  }
}

h1 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  /*APLICO ANIDACION EN TITULOS............*/
  .titulos {
    color: white;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    line-height: 1em;
    z-index: 4;
  }
  .titulos p {
    font-size: 16px;
    line-height: 25px;
    word-spacing: 5px;
    margin: 1px;
    padding: 5px;
  }
  /*Se aplica un Bucle al modificador de titulos*/
  .titulos--h1 {
    font-size: 4rem;
  }
  .titulos--h2 {
    font-size: 2rem;
  }
  .titulos--h3 {
    font-size: 1.33333rem;
  }
}

/*SECCION 1 - PORTADA DE BIENVENIDA*/
.portadaContenedor {
  background-image: url("../image/inicio/portada.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0px;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.portadaContenedor::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #042A2B;
  z-index: -1;
  opacity: 0.5;
}

/*CONTENEDOR DEL CONTENIDO DE LA SECCION*/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home a {
  text-decoration: none;
}

/*ESTILOS PARA LOS BOTONES DE PORTADA*/
.contenedorBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botones a {
  text-decoration: none;
  color: white;
  border: solid 1px white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  list-style: none;
  margin: 10px;
  padding: 10px 35px;
}

.botones :hover {
  color: white;
  background-color: #095b5d;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  border: solid 1px white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*SECCION 2 - RESUMEN DE LOS SERVICIOS*/
/*CONTENEDOR DE RESUMEN*/
.resume {
  height: 80vh;
  width: 100%;
  z-index: 1;
  margin-bottom: 0px;
}

/*ESTILOS AL CAROUSEL*/
.carousel-item {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.carousel-item .active h5 {
  -webkit-animation: fadeInLeft 0.3s ease forwards;
          animation: fadeInLeft 0.3s ease forwards;
}

.carousel-item .active h5 p {
  -webkit-animation: fadeInLeft 0.3s ease forwards;
          animation: fadeInLeft 0.3s ease forwards;
}

.carrusel {
  height: auto;
  width: auto;
  margin-right: 1%;
  margin-left: 1%;
}

.carousel-item img {
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.carousel-indicators {
  margin-bottom: 30px;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.tituloServicios {
  margin: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.tituloServicios h3 {
  font-size: 20px;
}

/*MODIFICADOR DE TEXTOS EN CARRUSEL*/
.container__textos {
  color: black;
  font-family: "Opens Sans", sans-serif;
  background-color: rgba(192, 219, 223, 0.952);
  opacity: 0.8;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container__textos h5 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.container__textos p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/*APLICANDO MEDIA QUERIS AL CAROUSEL*/
@media (max-width: 767px) {
  .resume .carousel-control-next-icon,
  .resume .carousel-control-prev-icon {
    display: none;
  }
  .resumew .carousel-indicators li {
    height: 60px;
    width: 60px;
  }
  .container__textos {
    color: black;
    font-family: "Opens Sans", sans-serif;
    background-color: rgba(192, 219, 223, 0.952);
    opacity: 0.8;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .container__textos h5 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__textos p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
}

/*SECCION 3 - RESUMEN DE ACERCA DE*/
.c-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100%;
}

.p-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-image: url("../image/inicio/fondo_nosotros.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 80vh;
  width: 100%;
}

.p-nosotros::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 80vh;
  width: 100%;
  background-color: #042A2B;
  z-index: -1;
  opacity: 0.4;
}

.t-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.t-nosotros h3 {
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.pf-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 1px;
  padding: 20px 80px;
  text-align: justify;
  height: auto;
}

.e-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.btn-nh a {
  text-decoration: none;
  color: white;
  border: solid 1px white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 3px;
  margin: 8px 10px;
  padding: 8px 20px;
}

.btn-nh:hover a {
  color: white;
  background-color: #095b5d;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 3px;
  margin: 8px 10px;
  padding: 8px 20px;
  border: solid 1px white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*APLICANDO MEDIA QUERIS A SECCION 3*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .t-nosotros {
    margin: 15px;
    text-align: justify;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }
  .t-nosotros h3 {
    font-size: 14px;
  }
  .pf-nosotros {
    text-align: left;
    color: white;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 10px 50px;
  }
  .btn-nh a {
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
  }
  .btn-nh a:hover {
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
  }
  .tituloServicios h3 {
    margin-top: 1px;
    font-size: 14px;
  }
}

/*SECCION 4 - TRABAJE CON NOSOTROS*/
/*CONTENEDOR DE TRABAJE CON NOSOTROS*/
.c-trabaje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100%;
}

.p-trabaje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-image: url("../image/inicio/enviecv.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 80vh;
  z-index: 1;
  width: 100%;
}

.p-trabaje::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 80vh;
  width: 100%;
  background-color: rgba(192, 219, 223, 0.952);
  z-index: -1;
  opacity: 0.5;
}

.t-trabaje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.t-trabaje h3 {
  font-size: 20px;
  width: 50%;
  text-align: center;
}

.pf-trabaje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 1px;
  padding: 25px 80px;
  text-align: justify;
  height: auto;
}

.btn-trabaje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.btn-cv a {
  text-decoration: none;
  color: black;
  border: solid 1px black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 3px;
  margin: 8px 10px;
  padding: 8px 20px;
  text-transform: uppercase;
}

.btn-cv:hover a {
  color: white;
  background-color: #095b5d;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 3px;
  margin: 8px 10px;
  padding: 8px 20px;
  border: solid 1px white;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .t-trabaje {
    margin: 15px;
    text-align: justify;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }
  .t-trabaje h3 {
    font-size: 14px;
  }
  .pf-trabaje {
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 20px;
    color: black;
  }
  .pf-trabaje p {
    text-align: left;
  }
  .btn-cv a {
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
  }
  .btn-cv:hover a {
    font-size: 12px;
    letter-spacing: 3px;
    margin: 8px 10px;
    padding: 8px 20px;
  }
}

/*SECCION 7 - NUESTROS CLIENTES*/
.contenedorClientes {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imageYPF imagePP imagePAE imageWll" "imageEqui imageSEI imageFH imageELE";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  row-gap: 1px;
  width: 100%;
  height: 75vh;
}

.tituloClientes h3 {
  color: black;
  font-weight: no;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

#tituloClientes {
  margin-top: 15px;
}

section#imageYPF {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imageYPF;
}

section#imagePP {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagePP;
}

section#imagePAE {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: imagePAE;
}

section#imageWll {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: imageWll;
}

section#imageEqui {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imageEqui;
}

section#imageSEI {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imageSEI;
}

section#imageFH {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: imageFH;
}

section#imageELE {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: imageELE;
}

.contenedorClientes div img {
  margin: 0px;
  padding: 0px;
  width: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*VARIABLES DE ANIMACION*/
div #imageYPF:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

div #imagePP:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

#imagePAE:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

#imageWll:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

#imageEqui:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

#imageSEI:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

#imageFH:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

#imageELE:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

/*APLICANDO MEDIA QUERIS A NUESTROS CLIENTES - RESPONSIVE CELULARES*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contenedorClientes {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "tituloClientes tituloClientes" "imageYPF imagePP " "imagePAE imageWll" "imageEqui imageSEI" "imageFH imageELE";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    row-gap: 1px;
    width: 100%;
    height: 100vh;
  }
  section div#tituloClientes {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: tituloClientes;
  }
  section#imageYPF {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imageYPF;
  }
  section#imagePP {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: imagePP;
  }
  section#imagePAE {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: imagePAE;
  }
  section#imageWll {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: imageWll;
  }
  section#imageEqui {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: imageEqui;
  }
  section#imageSEI {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: imageSEI;
  }
  section#imageFH {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: imageFH;
  }
  section#imageELE {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: imageELE;
  }
  .contenedorClientes div img {
    margin: 0px;
    padding: 0px;
    width: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*FIN DE MEDIA QUERIS*/
/*APLICANDO MEDIA QUERIS A NUESTROS CLIENTES - RESPONSIVE TABLETS*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .contenedorClientes {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "imageYPF imagePP imagePAE" "imageWll imageEqui imageSEI" "imageFH imageELE imageELE";
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    row-gap: 1px;
    width: 100%;
    height: 100vh;
  }
  section div#tituloClientes {
    grid-area: tituloClientes;
  }
  section#imageYPF {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: imageYPF;
  }
  section#imagePP {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: imagePP;
  }
  section#imagePAE {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: imagePAE;
  }
  section#imageWll {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imageWll;
  }
  section#imageEqui {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: imageEqui;
  }
  section#imageSEI {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: imageSEI;
  }
  section#imageFH {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: imageFH;
  }
  section#imageELE {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: imageELE;
  }
  .contenedorClientes div img {
    margin: 0px;
    padding: 0px;
    width: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*FIN DE MEDIA QUERIS*/
/*APLICANDO SASS-OPERACIONES...............*/
/*USANDO MIXIN...............*/
/*Contenedor de Seccion Nuestra Historia*/
.nh-content {
  background-image: url("../image/acercade/aereo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nh-content::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #a1a9c0;
  z-index: -1;
  opacity: 0.35;
}

/*Contenedor de Titulo*/
.nh-title {
  height: auto;
  position: relative;
  padding: 30px 0px 5px;
  text-align: center;
}

.nh-title h1 {
  font-size: 30px;
}

/*Contenedor de Parrafo*/
.nh-parrafo {
  height: 100%;
  width: 100%;
  padding: 35px;
}

.nh-parrafo p {
  font-size: 16px;
  line-height: 48px;
  font-family: "Montserrat" sans-serif;
  letter-spacing: 1px;
  text-align: justify;
}

/*Media Queris para modificar el parrafo a medida que cambia el ancho*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .nh-parrafo {
    height: 100%;
    width: 100%;
    padding: 25px;
    /*Ingreso el mixin*/
  }
  .nh-parrafo p {
    font-size: 14px;
    line-height: 45px;
    font-family: "Montserrat" sans-serif;
    letter-spacing: 1px;
    text-align: justify;
  }
}

@media only screen and (max-width: 480px) {
  .nh-content {
    height: auto;
  }
  .nh-content::before {
    height: auto;
  }
  .nh-parrafo {
    height: auto;
    width: 100%;
    padding: 10px 15px;
    /*Ingreso el mixin*/
  }
  .nh-parrafo p {
    font-size: 12px;
    line-height: 33px;
    font-family: "Montserrat" sans-serif;
    letter-spacing: 1px;
    text-align: justify;
  }
}

/*CONDICIONAL y EXTEND*/
/*VARIABLE*/
/*EXTEND*/
.m-content, .vi-content, .va-content {
  display: -ms-grid;
  display: grid;
  padding: 5px;
  height: auto;
  width: 100%;
  border: 1px solid black;
  background-color: antiquewhite;
}

.m-content h3, .vi-content h3, .va-content h3 {
  padding: 3px 15px;
  text-align: center;
}

.m-content p, .vi-content p, .va-content p {
  padding: 3px 25px;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.m-content ul li, .vi-content ul li, .va-content ul li {
  line-height: 25px;
  width: 100%;
}

/*Contenedor de Mision Vision y Valores*/
.mvv-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-image: none;
  height: auto;
  width: 100%;
  z-index: 1;
}

/*Mision Contenido*/
.e-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  width: 100%;
}

.e-content :hover {
  border: 2px solid antiquewhite;
}

/*Vision Contenido*/
/*Valores Contenido*/
.va-content {
  margin: 0px;
}

.va-content ul {
  padding: 0px;
}

.tabla-valores {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.tabla-valores ul {
  margin: 0;
  padding: 0;
}

.tabla-valores ul li {
  height: 40px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  background-color: transparent;
}

/*APLICANDO SASS-OPERACIONES...............*/
/*USANDO MIXIN...............*/
/*Contenedor de Seccion Servicios*/
.s-contenedor {
  display: -ms-grid;
  display: grid;
  background-color: rgba(192, 219, 223, 0.952);
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  padding: 0;
}

.s-contenedor h1 {
  text-align: center;
}

/*ESTILOS CONTACTO*/
/*APLICO MIXIN...............*/
/*Contenedor de Seccion Servicios*/
.c-contenedor {
  display: -ms-grid;
  display: grid;
  background-color: rgba(192, 219, 223, 0.952);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.c-contenedor h1 {
  text-align: center;
}

.formulario {
  width: 50vw;
  height: auto;
}

.formulario form {
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

/*SECCION 7 - FOOTER*/
.pieDePagina p {
  color: black;
  text-align: left;
  font-weight: 500;
  font-size: 8px;
  font-family: "Montserrat", sans-serif;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pieDePagina {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  width: 100%;
  justify-items: center;
  margin: 10px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.contenedorFinal {
  width: 100%;
  margin-bottom: 10px;
}

.imageLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.imageLogo img {
  width: 180px;
}

.imageCorp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: contain;
  margin: 5px;
}

.imageCorp img {
  width: 270px;
}

.parrafoFooter h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

/*Estilos de Redes en el footer*/
.redInferior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  margin: 1px;
  padding: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorRedinf li {
  padding: 10px;
}

.politica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  margin-top: 25px;
  position: relative;
  text-align: center;
  height: 100px;
  width: 100%;
}
/*# sourceMappingURL=estilospages.css.map */